<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>MKS Platform</title>

    <!-- GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

    <!-- CSS -->
    <link
        rel="stylesheet"
        href="{% static 'base.css' %}"
    >

    <!-- CHART JS -->
    <script src="{% static 'js/chart.umd.min.js' %}"></script>

</head>

<body>

<!-- ==========================================================================
     LAYOUT GENERAL
========================================================================== -->

<div class="layout">

    <!-- ==========================================================================
         SIDEBAR
    ========================================================================== -->

    <aside
        class="sidebar"
        id="sidebar"
    >

        <!-- LOGO -->
        <div class="sidebar-top">

            <div class="logo-box">

                <img
                    src="{% static '1.webp' %}"
                    alt="Logo MKS"
                >

                <div class="logo-text">

                    <h2>MKS Platform</h2>

                    <span>
                        Melanie Klein School
                    </span>

                </div>

            </div>

        </div>

        <!-- LINKS -->
        <div class="sidebar-links">

           

    {% if user.is_authenticated %}

        <!-- ========================================= -->
        <!-- ADMINISTRACION -->
        <!-- ========================================= -->

        {% if user.groups.all.0.name == 'administracion' %}

            <a href="{% url 'home' %}"
               class="{% if request.path == '/' %}active{% endif %}">
                <span class="icon">🏠</span>
                <span class="link-text">Inicio</span>
            </a>

            <a href="{% url 'formulario' %}"
               class="{% if request.path == '/formulario/' %}active{% endif %}">
                <span class="icon">📋</span>
                <span class="link-text">Inventario</span>
            </a>

            <a href="{% url 'tipos' %}"
               class="{% if request.path == '/tipos/' %}active{% endif %}">
                <span class="icon">📦</span>
                <span class="link-text">Control Inventario</span>
            </a>

            <a href="{% url 'ranking' %}"
               class="{% if request.path == '/ranking/' %}active{% endif %}">
                <span class="icon">💼</span>
                <span class="link-text">Aprobar Usuarios</span>
            </a>

            <a href="{% url 'soporte' %}"
               class="{% if request.path == '/soporte/' %}active{% endif %}">
                <span class="icon">🛠</span>
                <span class="link-text">Soporte</span>
            </a>
            <br>
            <a href="{% url 'logout' %}" class="logout-btn">
    <span class="icon">🚪</span>
    <span class="link-text">Cerrar Sesión</span>
</a>

        <!-- ========================================= -->
        <!-- COORDINACION -->
        <!-- ========================================= -->

        {% elif user.groups.all.0.name == 'coordinacion' %}

            <a href="{% url 'home' %}"
               class="{% if request.path == '/' %}active{% endif %}">
                <span class="icon">🏠</span>
                <span class="link-text">Inicio</span>
            </a>

            <a href="{% url 'tipos' %}"
               class="{% if request.path == '/tipos/' %}active{% endif %}">
                <span class="icon">📦</span>
                <span class="link-text">Control Inventario</span>
            </a>

            <a href="{% url 'nfc' %}"
               class="{% if request.path == '/nfc/' %}active{% endif %}">
                <span class="icon">⚽</span>
                <span class="link-text">Vista Balones</span>
            </a>

            <a href="{% url 'signup' %}"
               class="{% if request.path == '/signup/' %}active{% endif %}">
                <span class="icon">👤</span>
                <span class="link-text">Registrar Usuario</span>
            </a>

            <a href="{% url 'soporte' %}"
               class="{% if request.path == '/soporte/' %}active{% endif %}">
                <span class="icon">🛠</span>
                <span class="link-text">Soporte</span>
            </a>
            <br>
            <a href="{% url 'logout' %}" class="logout-btn">
    <span class="icon">🚪</span>
    <span class="link-text">Cerrar Sesión</span>
</a>

        <!-- ========================================= -->
        <!-- PROFESOR INVENTARIO -->
        <!-- ========================================= -->

        {% elif user.groups.all.0.name == 'profesor_inventario' %}

            <a href="{% url 'home' %}"
               class="{% if request.path == '/' %}active{% endif %}">
                <span class="icon">🏠</span>
                <span class="link-text">Inicio</span>
            </a>

            <a href="{% url 'tipos' %}"
               class="{% if request.path == '/tipos/' %}active{% endif %}">
                <span class="icon">📦</span>
                <span class="link-text">Inventario</span>
            </a>

            <a href="{% url 'horarios' %}"
               class="{% if request.path == '/horarios/' %}active{% endif %}">
                <span class="icon">📅</span>
                <span class="link-text">Horarios</span>
            </a>

            <a href="{% url 'profesores' %}"
               class="{% if request.path == '/profesores/' %}active{% endif %}">
                <span class="icon">🏆</span>
                <span class="link-text">Torneos</span>
            </a>

            <a href="{% url 'soporte' %}"
               class="{% if request.path == '/soporte/' %}active{% endif %}">
                <span class="icon">🛠</span>
                <span class="link-text">Soporte</span>
            </a>
            <br>
            <a href="{% url 'logout' %}" class="logout-btn">
    <span class="icon">🚪</span>
    <span class="link-text">Cerrar Sesión</span>
</a>

        <!-- ========================================= -->
        <!-- ASISTENTE -->
        <!-- ========================================= -->

        {% elif user.groups.all.0.name == 'asistente bienestar' %}

            <a href="{% url 'home' %}"
               class="{% if request.path == '/' %}active{% endif %}">
                <span class="icon">🏠</span>
                <span class="link-text">Inicio</span>
            </a>

            <a href="{% url 'radar' %}"
               class="{% if request.path == '/radar/' %}active{% endif %}">
                <span class="icon">⚽</span>
                <span class="link-text">Inventario Balones</span>
            </a>

            <a href="{% url 'videos' %}"
               class="{% if request.path == '/videos/' %}active{% endif %}">
                <span class="icon">📦</span>
                <span class="link-text">Renta Balones</span>
            </a>

            <a href="{% url 'voz' %}"
               class="{% if request.path == '/voz/' %}active{% endif %}">
                <span class="icon">🚫</span>
                <span class="link-text">Bajas Balones</span>
            </a>

            <a href="{% url 'profesores' %}"
               class="{% if request.path == '/profesores/' %}active{% endif %}">
                <span class="icon">🏆</span>
                <span class="link-text">Torneos</span>
            </a>

            <a href="{% url 'soporte' %}"
               class="{% if request.path == '/soporte/' %}active{% endif %}">
                <span class="icon">🛠</span>
                <span class="link-text">Soporte</span>
            </a>
                <br>
            <a href="{% url 'logout' %}" class="logout-btn">
                <span class="icon">🚪</span>
                <span class="link-text">Cerrar Sesión</span>
            </a>

        <!-- ========================================= -->
        <!-- PROFESOR NORMAL -->
        <!-- ========================================= -->

        {% else %}

            <a href="{% url 'home' %}"
               class="{% if request.path == '/' %}active{% endif %}">
                <span class="icon">🏠</span>
                <span class="link-text">Inicio</span>
            </a>

            <a href="{% url 'horarios' %}"
               class="{% if request.path == '/horarios/' %}active{% endif %}">
                <span class="icon">📅</span>
                <span class="link-text">Horarios</span>
            </a>

            <a href="{% url 'profesores' %}"
               class="{% if request.path == '/profesores/' %}active{% endif %}">
                <span class="icon">🏆</span>
                <span class="link-text">Torneos</span>
            </a>

            <a href="{% url 'soporte' %}"
               class="{% if request.path == '/soporte/' %}active{% endif %}">
                <span class="icon">🛠</span>
                <span class="link-text">Soporte</span>
            </a>
            <br>
            <a href="{% url 'logout' %}" class="logout-btn
">
                <span class="icon">🚪</span>
                <span class="link-text">Cerrar Sesión</span>
            </a>

        {% endif %}

    {% else %}

        <a href="{% url 'home' %}"
           class="{% if request.path == '/' %}active{% endif %}">
            <span class="icon">🏠</span>
            <span class="link-text">Inicio</span>
        </a>

        <a href="{% url 'signin' %}"
           class="{% if request.path == '/signin/' %}active{% endif %}">
            <span class="icon">🔑</span>
            <span class="link-text">Iniciar Sesión</span>
        </a>

    {% endif %}

</div>

    </aside>

    <!-- ==========================================================================
         MAIN
    ========================================================================== -->

    <div class="main" id="main">

        <!-- ==========================================================================
             TOPBAR
        ========================================================================== -->
            <header class="topbar">

    <!-- LEFT -->
    <div class="topbar-left">

        <!-- BOTON SIDEBAR -->
        <button id="toggleSidebar">
            ☰
        </button>

        {% if user.is_authenticated %}

            

        {% endif %}

    </div>

    <!-- RIGHT -->
    <div class="topbar-right">

        {% if user.is_authenticated %}

            <!-- ALERTAS -->
            <button class="icon-btn">

                🔔

                <span class="notification-dot"></span>

            </button>

        {% endif %}

        <!-- CAMBIO TEMA -->
        <button
            class="icon-btn"
            id="theme-toggle"
        >
            🌙
        </button>

        {% if user.is_authenticated %}

            <!-- USUARIO -->
            <div class="user-box">

                <div class="avatar">

                    {{ user.username|first|upper }}

                </div>

                <div class="user-info">

                    <strong>
                         {{ request.user.perfil.nombre_real }}
                    </strong>

                    <span>

                        {% if user.groups.all.0.name %}
                            {{ user.groups.all.0.name }}
                        {% else %}
                            Usuario
                        {% endif %}

                    </span>

                </div>

            </div>

        {% endif %}

    </div>



        </header>

        <!-- ==========================================================================
             CONTENIDO
        ========================================================================== -->

        <main class="content">
            {% if user.is_authenticated and user.perfil.debe_cambiar_password %}

<div
    style="
        background:#ff9800;
        color:white;
        padding:15px;
        border-radius:12px;
        margin-bottom:20px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:20px;
    "
>

    <div>

        <strong>
            🔐 Debes cambiar tu contraseña inicial
        </strong>

        <br>

        <span>
            Por seguridad cambia la contraseña que te asignaron.
        </span>

    </div>

    <a
        href="{% url 'cambiar_password_inicial' %}"
        style="
            background:white;
            color:#ff9800;
            padding:10px 18px;
            border-radius:10px;
            text-decoration:none;
            font-weight:700;
        "
    >
        Cambiar contraseña
    </a>

</div>

{% endif %}

            {% block content %}
            {% endblock %}

        </main>

    </div>

</div>

<!-- ==========================================================================
     JAVASCRIPT
========================================================================== -->

<script>

    // ==========================================================================
    // SIDEBAR TOGGLE
    // ==========================================================================

    const sidebar =
        document.getElementById("sidebar");

    const main =
        document.getElementById("main");

    const toggleBtn =
        document.getElementById("toggleSidebar");

    toggleBtn.addEventListener("click", () => {

        sidebar.classList.toggle("closed");

        main.classList.toggle("expanded");

    });

    // ==========================================================================
    // DARK MODE
    // ==========================================================================

    const themeBtn =
        document.getElementById("theme-toggle");

    // CARGAR TEMA
    if(localStorage.getItem("theme") === "light"){

        document.body.classList.add("light-mode");

        themeBtn.textContent = "☀️";

    }else{

        themeBtn.textContent = "🌙";

    }

    // CAMBIAR TEMA
    themeBtn.addEventListener("click", () => {

        document.body.classList.toggle("light-mode");

        if(document.body.classList.contains("light-mode")){

            localStorage.setItem("theme", "light");

            themeBtn.textContent = "☀️";

        }else{

            localStorage.setItem("theme", "dark");

            themeBtn.textContent = "🌙";

        }

    });

    // ==========================================================================
    // RESPONSIVE SIDEBAR
    // ==========================================================================

    if(window.innerWidth <= 900){

        sidebar.classList.add("closed");

        main.classList.add("expanded");

    }

</script>

</body>
</html>