{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
 
    iframe {
      margin-left: 5%;
      width: 40%;
      height: 355px;
      border: none;
      margin-bottom: 25px;
      border-radius: 12px;
    }
</style>
<h1 >LIVE FUTBOL</h1>
<br>
<br>
<p class="a">
    Descripción
</p>
<p style="text-align: justify;">
  esta pagina es una herramienta con fin de apoyar a los profesores en diversas areas de manera efectiva, segura y con cambios efectivos en cualquier momento de ser necesario 
</p>


 <p class="a">
    video de uso de la pagina
</p>

   



<h5>
pagina creada por: <br> brayan salamanca 
<br>
con fines educativos y o fines de apoyar al equipo mks 
<br>
tener en cuenta que todos los codigos creados seran utilizados en mi portafolio personal 
</h5>

{% endblock %}
