{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<h1 >MKS Plataform</h1>
<br>
<br>
<p class="a">
    Descripcion
</p>
<p style="text-align: justify;">
Pagina diseñada y programada por Brayan David Salamanca Ayala
<br>
La pagina es exclusivamente diseñada para el colegio Melanie klein School (MKS) 
<br>
La utilizacionde la pagina es unicamente administrativa ára el soporte de empleados de la ititucion educativa 
<br>
<br>
Esto incluye

<div style="display: flex; flex-direction: column; align-items: center; list-style: none;">
<li style="text-align: justify; ">
  <ul>
    1.Profesores
  </ul>
  <ul>
    2.Coordinadores
  </ul>
  <ul>
    3.Asistentes de bienestar
  </ul>
  <ul>
    cualquiera que tenga acceso a la pagina y se encuentre registrado en el sistema
  </ul>
</li>
 </div>
</p>
<br>
<br>
<br>
<div style="align-items: center;">
<p style="text-align: justify;">
pagina creada por: <br> Brayan David Salamanca Ayala
<br>
<br>
con fines educativos, fines de apoyar al equipo mks aportar mayor comodidad con el manejo de la informacion y el soporte de los empleados de la institucion educativa 
<br>
tener en cuenta que todos los codigos creados seran utilizados en el portafolio personal 
del programador 
</p>
</div>
{% endblock %}
