{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
 
    iframe {
      margin-left: 5%;
      width: 40%;
      height: 355px;
      border: none;
      margin-bottom: 25px;
      border-radius: 12px;
    }
</style>
<h1 >LIVE FUTBOL</h1>
<br>
<br>
<p class="a">
    descripcion
</p>
<p style="text-align: justify;">
  El tema que elegí es el de la desigualdad entre jugadores y clubs que no tienen la capacidad de aprender nuevas jugadas que no solo beneficie a todos si no que con mi página se puede desarrollar un avance que sea solitario para mejorar empíricamente de manera porque siendo realista los clubs se centran principalmente en todo el club no en enseñar jugadas que puedan explotar las capacidades de un jugador por ejemplo si un jugador tiene una potencia de 80 pero si sigue el entrenamiento para todo el equipo que tiene 70 de tiro y el entrenador planea hacerlos ganar resistencia el desempeño del jugador podría decaer por falta de atención a sus habilidades en cambio sí practica con una rutina especifica para esto su capacidad podría volverse un talento que lo podría llevar más lejos pero solo con el entrenamiento adecuado para eso existe mi página live futbol con la que un jugador entenderá su tipo de futbol y sus fortalezas dando un tipo de arma que apoyara sus jugadas
</p>


 <p class="a">
    video de uso live futbol
</p>
<video width="640" height="360" controls>
    <source src="{% static 'live futbol (1).mp4' %}" type="video/mp4">
   
</video>


<br>

<br>
<p class="a">
  Objetivo especifico
</p>

<p style="text-align: justify;">
  Brindar apoyo a personas con recursos limitados para que puedan mejorar su nivel de fútbol de manera virtual, sirviendo como herramienta educativa accesible para todos, con el fin de preservar y fomentar la educación deportiva en cualquier contexto social o económico también dando una oportunidad de cambiar la situación de problemáticas como las drogas o pandillas que dañan el futuro de las personas de esta manera protegiendo su futuro aportando estabilidad y dando una razón por la que esforzarse de manera empírica
</p>

{% endblock %}
