{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
<div class="contenedor-ranking">

    <h1>Permisos de Inventario</h1>

    <table class="tabla">

        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Grupo</th>
                <th>Permiso Inventario</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>

                <td>{{ usuario.username }}</td>

                <td>{{ usuario.email }}</td>

                <td>
                    {% if usuario.groups.all %}
                        {{ usuario.groups.all.0.name }}
                    {% else %}
                        Sin grupo
                    {% endif %}
                </td>

               <td>

    {% for grupo in usuario.groups.all %}

        {% if grupo.name == 'inventario_temporal' %}

            ✅ ACTIVADO

        {% endif %}

    {% empty %}

        ❌ DESACTIVADO

    {% endfor %}

                </td>

            

                <td>

                    <a href="{% url 'permiso_prendas' usuario.id %}">

                        {% if usuario.perfil.puede_apartar_prendas %}

                            <button class="btn-quitar">
                                Quitar permiso
                            </button>

                        {% else %}

                            <button class="btn-dar">
                                Dar permiso
                            </button>

                        {% endif %}

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>





{% endblock %}