{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contenedor-ranking">

    <h1>Permisos de Inventario</h1>

    <table class="tabla">

        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Grupo</th>
                <th>Permiso Inventario</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>

                <td>{{ usuario.username }}</td>

                <td>{{ usuario.email }}</td>

                <td>
                    {% if usuario.groups.all %}
                        {{ usuario.groups.all.0.name }}
                    {% else %}
                        Sin grupo
                    {% endif %}
                </td>

               <td>

    {% for grupo in usuario.groups.all %}

        {% if grupo.name == 'inventario_temporal' %}

            ✅ ACTIVADO

        {% endif %}

    {% empty %}

        ❌ DESACTIVADO

    {% endfor %}

                </td>

            

                <td>

                    <a href="{% url 'permiso_prendas' usuario.id %}">

                        {% if usuario.perfil.puede_apartar_prendas %}

                            <button class="btn-quitar">
                                Quitar permiso
                            </button>

                        {% else %}

                            <button class="btn-dar">
                                Dar permiso
                            </button>

                        {% endif %}

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

<style>

.contenedor-ranking{
    width:95%;
    margin:auto;
    padding:40px;
    color:white;
}

.tabla{
    width:100%;
    border-collapse:collapse;
    color: aliceblue;
}

.tabla th{
    background:#1f1f1f;
    padding:15px;
}

.tabla td{
    padding:15px;
    border-bottom:1px solid #333;
    text-align:center;
}

.activo{
    color:#00ff88;
    font-weight:bold;
}

.inactivo{
    color:#ff4d4d;
    font-weight:bold;
}

.btn-dar{
    background:#00aa55;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
}

.btn-quitar{
    background:#cc3333;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
}

</style>

{% endblock %}