{% extends "base.html" %}

{% block content %}
  <div style="max-width: 500px; margin: auto; background: #000000; padding: 2rem; border-radius: 10px; box-shadow: #821717 2px 5px 45px; color: white;">
    <h2>Restablecer contraseña</h2>

    <form method="POST" style="display: flex; flex-direction: column; gap: 1rem;">
      {% csrf_token %}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      <button type="submit" style="padding: 0.5rem; background-color: #78eb7c; color: white; border: none; border-radius: 5px;">Restablecer</button>
    </form>
  </div>
{% endblock %}
