<!-- ========================================== -->
<!-- subir_excel_comedor.html -->
<!-- ========================================== -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="padding:40px;text-align:center;">

    <h1>📤 Subir Excel Comedor</h1>

    <p>
        Desde aquí puedes cargar usuarios
        masivamente al sistema NFC.
    </p>

    <a href="/registrar_entrega_comedor/">

        <button>

            Ir al Sistema NFC

        </button>

    </a>

</div>

{% endblock %}